button {
  outline: 0 !important;
}
form#addNewSubreddit {
  max-width: 800px;
}
form#addNewSubreddit .col-xs-12 {
  margin: 15px auto;
}
form#addNewSubreddit .enterContact .input-group {
  width: 100%;
}
form#addNewSubreddit .enterContact .input-group .btn.dropdown-toggle {
  width: 187px;
}
form#addNewSubreddit .enterContact .input-group ul.dropdown-menu {
  width: 100%;
}
form#addNewSubreddit .enterContact .input-group ul.dropdown-menu li a:hover {
  cursor: pointer;
}
form#signup {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}
form#signup .input-group {
  width: 100%;
  display: block;
}
form#signup .input-group input {
  display: block;
  width: 100%;
}
