// main: ./main.less
button {
    outline: 0 !important;
}

#addNewSubreddit{
    max-width: 800px;
    .col-xs-12 {
        margin: 15px auto;
    }
    .enterContact {
        .input-group {
            width: 100%;

            .btn.dropdown-toggle{
                width: 187px;
            }
            ul.dropdown-menu {
                width: 100%;

                li a:hover {
                    cursor: pointer;
                }
            }
        }
    }

}
