// main: ./main.less
button {
    outline: 0 !important;
}

form#addAlert{
    max-width: 800px;
    .col-xs-12 {
        margin: 15px auto;
    }
    .enterContact {
        .input-group {
            width: 100%;

            .btn.dropdown-toggle{
                width: 187px;
            }
            ul.dropdown-menu {
                width: 100%;

                li a:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

form#signup,
form#login {
    width: 400px;
    margin: 50px auto;
    text-align: center;

    .input-group {
        width: 100%;
        display: block;

        input {
            display: block;
            width: 100%;
        }
    }
    button[type="submit"] {
        margin: 10px auto;
    }
}
